
header{
    padding:15px;
    width:54%;
    text-align: center;
    background:beige;
    height:75px;
    margin-bottom:10px;
}
.clear{clear:both}
.container{
    display:flex;
    flex-direction:row;
}
.Startbar{
    order:1;
    padding:5px;
    width:200px;
    background:red;
    height:400px
}
.Sidebarcontent{
    order:3;
    padding:5px; 
    width:200px;
    background:rgb(149, 149, 74);
    height:400px;
    text-align:center;
}
.Maincontent{
    order:2;
    padding:5px; 
    width: 395px; 
    background: rgb(108, 155, 113); 
    height:400px;
    text-align:center;
}
.clear{clear:both}
footer{
    padding:15px; 
    width:54%; 
    text-align:center; 
    background:beige;
    height:75px; 
    margin-top:10px;
}