

header div:first-child{padding:4%; background:blue; width:35%; float:left;}
header div:nth-child(2){padding:4%; background:green; width:35%; float:left;}
.clear{clear:both; }
nav{padding:0%;background:red; width:86%;}
/* nav li:first-child{padding:2%; background:yellow; width:7%; float:left;}
nav li:nth-child(2){padding:2%;background:yellow; width:10%; float:left;}
nav li:nth-child(3){padding:2%; background:yellow; width:12%;float:left;}
nav li:nth-child(4){padding:2%; background:yellow; width:14%;float:left;} */
nav ul{margin:5px;padding:0%;}
nav ul li{
    list-style:none;padding:1%;background-color: yellow; float: left; margin:0.5%;
}
nav ul li a{text-decoration:none;display:block;width:100% }
nav ul li:hover{background:lightgreen;}
section div:first-child{padding:4%; background:blue;  width:25%;float:left;margin-bottom:0.5%;}
section div:nth-child(2){padding:4%; background:green; width:45%; float:left;margin-bottom: 0.5%;}
.clear{clear:both;}
footer{padding:4%; background:yellow; width:78%;clear:both;}
